.row {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* Responsive */

/* xs */
@media all and (max-width: 767px) {
  body {
    line-height: 150%;
    font-size: 30px;
  }

  #lezioni .row> .col-xs-12,
  #steps .row> .col-xs-12,
  #why .row> .col-xs-12 {
    margin-top: 80px;
  }

  #lezioni, #steps, #why {
    padding: 20px 0;
  }

  #why {
    background-color: #428bca;
    color: white;
  }
}

/* md */
@media all and (min-width: 768px) and (max-width: 991px) {
  body {
    line-height: 150%;
  }

  #lezioni .row> .col-md-6,
  #steps .row> .col-md-4,
  #why .row> .col-md-12 {
    margin-top: 80px;
    padding: 20px;
  }

  #lezioni .row> .col-md-6 h3,
  #steps .row> .col-md-4 h3,
  #why .row> .col-md-12 h3 {
    margin: 20px 0;
  }
}

/* lg */
@media all and (min-width: 992px) {
  #lezioni .row> .col-lg-6,
  #steps .row> .col-lg-4,
  #why .row> .col-lg-12 {
    margin-top: 80px;
    padding: 20px;
  }

  #lezioni .row> .col-lg-6 h3,
  #steps .row> .col-lg-4 h3,
  #why .row> .col-lg-12 h3 {
    margin: 20px 0;
  }
}


